<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <service
            android:name=".RemoteService1"
            android:exported="true">
            <intent-filter >
                <action android:name="com.service1.action"/> <!-- 隐式调用 -->
            </intent-filter>
        </service>

        <service
            android:name=".RemoteService2"
            android:exported="true">
            <intent-filter >
                <action android:name="com.service2.action"/> <!-- 隐式调用 -->
            </intent-filter>
        </service>

        <service
            android:name=".RemoteService3"
            android:exported="true">
            <intent-filter >
                <action android:name="com.service3.action"/> <!-- 隐式调用 -->
            </intent-filter>
        </service>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

</application>

</manifest>